@charset "utf-8";
/* CSS Document */
#wrapper #content-wrap {
	font-family: "Verdana";
	color: #FFF;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	min-width: 900px;
	padding: 2.5%;
}
#wrapper #content-wrap #navbar {
	background: url(../imagery/bkgd/bkgd_v1-navbar-cut.png) no-repeat;
	border: #1A1A1A;
	text-align: right;
}

#wrapper #content-wrap #navbar li {
	display: inline;
}

#wrapper #content-wrap #navbar li .MenuBarItemSubmenu {
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

#wrapper #content-wrap #navbar li .MenuBarItemSubmenu:hover {
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}
#wrapper #content-wrap #navbar-science {
	background: url(../imagery/bkgd/bkgd_v1-navbar-cut_science.png) no-repeat;
	border: #1A1A1A;
	text-align: right;
}

#wrapper #content-wrap #navbar-science li {
	display: inline;
	
}

#wrapper #content-wrap #navbar-science li .MenuBarItemSubmenu {
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

#wrapper #content-wrap #navbar-science li .MenuBarItemSubmenu:hover {
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}
#wrapper #content-wrap #mainbody {
	font-family: "Verdana";
	color: #FFF;
	text-align: center;
	min-width: 900px;
	max-width: 900px;
	min-height: 500px;
	max-height: 500px;
}

#wrapper #content-wrap #mainbody #sidebar {
	background: url(../imagery/bkgd/white-gradient_bkgd-v1.png) repeat-x;
	min-width: 150px;
	max-width: 150px;
	min-height: 500px;
	max-height: 500px;
	float: left;
	font-family: "Verdana";
	font-size: 2em;
	overflow: hidden;
}
#wrapper #content-wrap #mainbody #sidebar #side-navbar {
	font-size: 0.6em;
	text-align: left;
	list-style-type: none;	
	list-style: none;
	list-style-image: none;
}
#wrapper #content-wrap #mainbody #sidebar #side-navbar ul {
	line-height: .3em;
	text-indent: -15px;
	font-size: .9em;
}
#wrapper #content-wrap #mainbody #main-content {
	background: url(../imagery/bkgd/white-gradient_bkgd-v1.png) repeat-x;
	min-width: 750px;
	max-width: 750px;
	min-height: 500px;
	max-height: 500px;
	vertical-align: text-bottom;
	float: right;
	font-family: "Verdana";
	font-size: 1.5em;
	overflow: hidden;
}
#wrapper #content-wrap #mainbody #main-content p {
	margin-top: 50px;
}
#wrapper #content-wrap #mainbody #main-content #center {
	margin-left: 35px;
}
#wrapper #content-wrap #mainbody #main-content #center img {
	border: 1px groove #CCC;
	float: left;
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
}
#wrapper #content-wrap #mainbody #main-content p img {
	border: 1px groove #CCC;
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
}
#wrapper #content-wrap #mainbody #main-content h6 img {
	border: 1px groove #CCC;
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
}
#wrapper #content-wrap #mainbody #main-content #a {
	display: block;
}
#wrapper #content-wrap #mainbody #main-content #center #content-float-left {
	float: left;
}
#wrapper #content-wrap #mainbody #main-content #center h6 {
	font-size: 60%;
}
#wrapper #content-wrap #mainbody #main-content #center #imghover img {
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
#wrapper #content-wrap #mainbody #main-content #center #imghover img:hover {
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}